@import "tailwindcss";

@theme {
	--spacing-xs: 8px;
	--spacing-s: 16px;
	--spacing-m: 32px;
	--spacing-l: 48px;
	--spacing-xl: 96px;
}


:root {
	--background: #ffffff;
	--primary: #404040;
  --secondary: #808080;
  --tertiary: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --primary: #808080;
    --secondary: #404040;
    --tertiary: #1a1a1a;
  }
}

body {
	font-family: system-ui, sans-serif;
	color: var(--primary);
	background: var(--background);
}
